:root {
  /* Colors used for page we can change them if u dont like just copied the same as the last 1 */
  --Primary-Color: #2f4f4f;
  --Secondary-Color: #162525;

  --Text-Color: #DD9206;

  --Highlight-Color: #f310a7;

  --Header-Color: #DD9206;
  --Link-Color: #DD92F6;

  --Small-Color: #387854;
  --Small-Color-T: #38785488;
  --Medium-Color: #2f5d55;
  --Medium-Color-T: #2f5d5588;
  --Large-Color: #162525;
  --Large-Color-T: #16252588;

  /* === Search Vars === */
  --header-height: 60px;
  --Aside-Width: 260px;
}

body {
  background: var(--Primary-Color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  margin: 0;
}

header,
footer {
  margin: 0;
  background: var(--Secondary-Color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 60px;
  height: 60px;
  max-width: 100vw;
  padding: 0 10vw;
}

footer {
  justify-self: flex-end;
  margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Header-Color);
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  text-shadow: 2px 2px 4px var(--Primary-Color), -2px 2px 4px var(--Primary-Color), -2px -2px 4px var(--Primary-Color), 2px -2px 4px var(--Primary-Color);

  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" -8, "CRSV" 1, "ELSH" 0, "ELXP" 0;
}

.Text-Shadow {
  text-shadow: 2px 2px 4px var(--Secondary-Color), -2px 2px 4px var(--Secondary-Color), -2px -2px 4px var(--Secondary-Color), 2px -2px 4px var(--Secondary-Color);
}

p,
li {
  color: var(--Header-Color);
  font-family: "SN Pro", sans-serif;
  margin: 0;
  padding: 0;
}

.Title_Header {
  margin: 0;
  font-weight: 400;
  max-height: 60px;
}

.Footer-Note {
  margin: 0;
  padding: 0;
  max-height: 40px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" -8, "CRSV" 1, "ELSH" 0, "ELXP" 0;
}

@media (max-width: 768px) {
  .Menu-Button-Header {
    margin: 5px;
    padding: 0;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Menu-Button-Header svg {
    fill: var(--Text-Color);
    width: 30px;
    height: auto;
  }

  nav:hover .Menu-Listings {
    display: flex;
    flex-direction: column;

    max-width: 40%;
    z-index: 3;
  }

  .Menu-Listings {
    position: absolute;
    right: calc(10vw + 5px);
    display: none;
  }

  nav:hover .Menu-Listings li:last-child {
    border-top-width: 2px;
  }

  nav:hover .Menu-Listings li:last-child {
    border-bottom-width: 2px;
  }

  nav:hover .Menu-Listings li {
    display: block;
    width: 90%;
    background: var(--Primary-Color);
    border: solid var(--Secondary-Color);
    border-width: 2px 2px;
    padding: 5px 5px 5px 8px;
  }

  nav:hover .Menu-Listings li a {
    color: var(--Text-Color);
    text-decoration: none;
  }

  nav:hover .Menu-Listings li:hover {
    box-shadow: 0 0 1px 2px var(--Highlight-Color);
    z-index: 8;
  }

  nav:hover .Menu-Listings li a {
    z-index: 7;
  }
}

@media (min-width: 768px) {
  .Menu-Button-Header {
    display: none;
  }

  .Menu-Listings {
    display: flex;
  }

  .Menu-Item a {
    font-weight: 700;
    color: var(--Text-Color);
    padding-left: 10px;
    text-shadow: 2px 2px 4px var(--Primary-Color), -2px 2px 4px var(--Primary-Color), -2px -2px 4px var(--Primary-Color), 2px -2px 4px var(--Primary-Color);
  }

  .Menu-Item:hover a {
    text-shadow: 2px 2px 4px var(--Highlight-Color), -2px 2px 4px var(--Highlight-Color), -2px -2px 4px var(--Highlight-Color), 2px -2px 4px var(--Highlight-Color)
  }

  .Map-Styles {
    display: flex;
  }

}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}



.Cannon_Name {
  color: var(--Header-Color);
  margin: 0;
  padding: 0;
}

button {
  background: var(--Primary-Color);
  border: inset #0004 2px;
  border-radius: 5px;

}

button:hover {
  box-shadow: 0 0 1px 2px var(--Highlight-Color)
}

.Top-Thingy {
  display: flex;
  justify-content: space-between;
}

.Individual-View-Main {
  margin: 10px 15% auto;
  padding: 10px;
  background: var(--Secondary-Color);
  margin-bottom: clamp(10px, auto, 1000px)
}

.side-by-side {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {

  .Map-Styles {
    min-width: 90vw;
    width: 90vw;
  }
}

/* ===== Search Page Styles ===== */
.Big-Map-Styles {
  min-width: 100vw;
  min-height: calc(100vh - var(--header-height));
  height: calc(100vh - var(--header-height));
  margin: 0;
  padding: 0;
  z-index: 2;
}

.Aside-Button {
  display: block;
  position: absolute;
  z-index: 3;
  right: 0px;
  top: calc(10px + var(--header-height));
  height: 30px;
  width: 25px;
  fill: var(--Text-Color);
  margin: 0;
  padding: 0;
  border-radius: 5px 0px 0px 5px;
  border-color: var(--Secondary-Color);
  border-right: none;
}

.Aside-Map {
  display: none;
  min-width: var(--Aside-Width);
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  position: relative;
  top: 0;
  right: calc(0px + var(--Aside-Width));
  z-index: 4;
  background: var(--Primary-Color);
  border: solid var(--Secondary-Color) 2px;
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding: 5px 10px;
}

.Arrow-Icon-Menu-Button-Close {
  display: none;
}

.Pos-Div {
  display: inline;

}

.Spacer {
  width: calc(100% - 20px);
  height: 2px;
  background: var(--Secondary-Color);
}

.Cannon-Listing {
  /* margin-bottom: 20px; */
  padding: 10px 5px 10px 0px;
  text-shadow: 2px 2px 4px var(--Secondary-Color), -2px 2px 4px var(--Secondary-Color), -2px -2px 4px var(--Secondary-Color), 2px -2px 4px var(--Secondary-Color);
  /* box-shadow: -5px 10px 0 -8px */
}

.Cannon-Listing:hover {
  text-shadow: 2px 2px 4px var(--Highlight-Color), -2px 2px 4px var(--Highlight-Color), -2px -2px 4px var(--Highlight-Color), 2px -2px 4px var(--Highlight-Color)
}

.cannons li.highlighted {
  text-shadow: 2px 2px 4px var(--Highlight-Color), -2px 2px 4px var(--Highlight-Color), -2px -2px 4px var(--Highlight-Color), 2px -2px 4px var(--Highlight-Color)
}

.Search-Body {
  overflow: hidden;
}

.Search-Main {
  display: flex;
  max-height: calc(100vh - var(--header-height));
}


/* ===== Leaflet Overides ===== */
.marker-cluster div {
  color: var(--Text-Color);
  text-shadow: 2px 2px 4px var(--Secondary-Color), -2px 2px 4px var(--Secondary-Color), -2px -2px 4px var(--Secondary-Color), 2px -2px 4px var(--Secondary-Color);
  font-weight: 900;
}

.marker-cluster-small {
  background: var(--Small-Color-T);
}

.marker-cluster-small div {
  background: var(--Small-Color);
  color: var(--Text-Color);
  text-shadow: 2px 2px 4px var(--Secondary-Color), -2px 2px 4px var(--Secondary-Color), -2px -2px 4px var(--Secondary-Color), 2px -2px 4px var(--Secondary-Color);
  font-weight: 900;
}

.marker-cluster-medium {
  background: var(--Medium-Color-T);
}

.marker-cluster-medium div {
  background: var(--Medium-Color);
}

.marker-cluster-large {
  background: var(--Large-Color-T);
}

.marker-cluster-large div {
  background: var(--Large-Color);
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border-color: var(--Secondary-Color);
  border-radius: 5px;
}

.leaflet-bar a {
  background-color: var(--Primary-Color);
  border-bottom-color: var(--Secondary-Color);
}

.leaflet-container a.leaflet-popup-close-button {
  color: var(--Text-Color);
}

.leaflet-popup-content {
  font-size: 15px;
  font-weight: 500;
}

.leaflet-popup-content-wrapper {
  background: var(--Primary-Color);
  border: solid var(--Secondary-Color) 2px;
  padding-bottom: 0;
  box-shadow: 0 0 4px 2px var(--Secondary-Color);
}

.leaflet-popup-tip-container {
  margin-top: -2px;
}

.leaflet-popup-tip {
  background: var(--Primary-Color);
  border: solid var(--Secondary-Color) 2px;
  box-shadow: 0 0 4px 2px var(--Secondary-Color);
}

.leaflet-container a {
  color: var(--Text-Color);
  text-shadow: 2px 2px 4px var(--Secondary-Color), -2px 2px 4px var(--Secondary-Color), -2px -2px 4px var(--Secondary-Color), 2px -2px 4px var(--Secondary-Color);
}

.leaflet-container .leaflet-control-attribution {
  background: var(--Primary-Color);
  border: solid var(--Secondary-Color) 2px;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 4px;
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
  color: var(--Text-Color);
  text-shadow: 2px 2px 4px var(--Secondary-Color), -2px 2px 4px var(--Secondary-Color), -2px -2px 4px var(--Secondary-Color), 2px -2px 4px var(--Secondary-Color);
}

.leaflet-bar a:hover,
.leaflet-bar a:focus {
  background-color: var(--Secondary-Color);
  border-color: var(--Primary-Color);
}

/* ===== IMAGE STUFF  vvv ===== */
.Imgs-Section {
  margin: 0 10px 0 0;
}

.Imgs-Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  justify-content: center;
}

.Img-Preview {
  margin: 0;
  width: 100%;
  aspect-ratio: 1/1;
  z-index: 1;
}

.Img-Wrapper {
  margin: 0;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  width: 100%;
}

.Img-Wrapper:hover {
  box-shadow: 0 0 1px 2px var(--Highlight-Color)
}

.Img-Wrapper:active .Img-Preview {
  display: flex;
  position: relative;
  max-width: 90%;
  max-height: 90%;
  z-index: 5;

}

.Img-Overlay {
  display: none;
}

/*========*/
/* The dark backdrop that covers the page */
.Overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The enlarged image */
.Overlay img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}

/*========*/
.Img-Overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.Close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.Big-Img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}

/* IMAGE STUFF ^^^ */


ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

.Info-Group {
  max-width: 35%;
}

.Map-Styles {
  min-width: 65%;
  width: auto;
  aspect-ratio: 1/1;
  z-index: 1;
}

.Pos-Header {
  color: var(--Header-Color);
  font-family: "Bitcount Grid Double", system-ui;
  margin: 10px 10px 0 10px;
  padding: 0;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" -8, "CRSV" 1, "ELSH" 0, "ELXP" 0;
}

.OS-Grid-Display {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.OS-Grid-Display>li {
  align-self: start;
  margin-left: 10px;
}

.Grid-for-Pos>li {
  text-align: end;
  display: inline;
}

.Grid-for-Pos {
  width: 100%;
  display: grid;
  grid-template: repeat(2, 20px) / repeat(2, 40%);
  gap: 4px 8px;
  justify-content: center;
}

.Pos-Container>div {
  margin-left: 5px
}

.posSection:hover p {
  text-shadow: 2px 2px 4px var(--Highlight-Color), -2px 2px 4px var(--Highlight-Color), -2px -2px 4px var(--Highlight-Color), 2px -2px 4px var(--Highlight-Color)
}

.tooltip {
  display: none;
}

.posSection:hover .tooltip {
  display: inherit;
  position: absolute;
  background: #0000;
  text-shadow: none;
  margin-top: -20%;
}

/* ===================================
 * FONT IMPORTS MANUAL ADD TO ELEMENTS  for testing styles
 * ===================================
 * use these if u wanna manually set the fonts of an element for testing stuff out
 * TEXT FONT FROM GOOGLE FONTS 
 */
.sn-pro-FORCE {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* TITLE FONT FROM GOOGLE FONTS */
.Dot-Font-FORCE {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" -8, "CRSV" 1, "ELSH" 0, "ELXP" 0;
}
