:root {
  /* Colors used for page */
  --Header-Color: #DD9206;
  --Text-Color: #DD9206;
  --Link-Color: #DD92F6;
}


.Cannon_Name {
  color: var(--Header-Color)
}


















/* ===================================
 * FONT IMPORTS MANUAL ADD TO ELEMENTS 
 * ===================================*/
/* use these if u wanna manually set the fonts of an element for testing stuff out */
/* TEXT FONT FROM GOOGLE FONTS */
.sn-pro-FORCE {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* TITLE FONT FROM GOOGLE FONTS */
.Dot-Font-FORCE {
  font-family: "Bitcount Grid Double Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}
