{% extends "forms/rock_cannon_header.html" %}
{% load static %}
{% load i18n %}
{% block title %}{{ rock_cannon.name }}{% endblock %}
{% block extraHead %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
  <script> var latitude = {{ rock_cannon.position.latitude }}; var longitude = {{ rock_cannon.position.longitude }}; </script>
  {{ rock_cannons_json|json_script:"cannon-data" }}
{% endblock %}
{% block main %}
  <main class="Individual-View-Main">
    <div class="Top-Thingy">
      <h1 class="Cannon_Name Dot-Font-FORCE">{{ rock_cannon.name }}</h1>
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.path }}">
            <button class="Lang_Button" type="submit" name="language" value="en">
              <p>{% trans "English" %}</p>
            </button>
            <button class="Lang_Button" type="submit" name="language" value="cy">
              <p>{% trans "Welsh" %}</p>
            </button>
        </form>
    </div>

    <div class="side-by-side">
      <div class="Info-Group">
        <!-- ===== Position ===== -->
        {% if rock_cannon.position %}
          <section id="position" class="posSection">
            {% if rock_cannon.position.latitude %}
              <div class="OS-Grid-Display">
                <h4 class="Pos-Header">{% trans "Coordinates" %}</h4>
                <p>{{ rock_cannon.position.latitude }}, {{ rock_cannon.position.longitude }}</p>
              </div>
            {% endif %}
            {% if rock_cannon.position.grid_ref %}
            <div class="OS-Grid-Display">
              <h4 class="Pos-Header">{% trans "OS Grid Referance" %}</h4>
              <p> {{ rock_cannon.position.grid_ref }} </p>
            </div>
            {% endif %} 
            <div class="tooltip"><p>{% trans "show on map" %}</p></div>
          </section>
        {% endif %}
        <!-- ===== ENDPosition ===== -->

        <!-- Metadata -->
        {% if rock_cannon.metadata %}
          <section>
            <h2 class="Pos-Header">{% trans "Details" %}</h2>
            <ul>
              {% if rock_cannon.metadata.hole_count %}
              <li><p>{% trans "Hole count" %}: {{ rock_cannon.metadata.hole_count }}</p></li>
              {% endif %}
              {% if rock_cannon.metadata.has_channels %}
              <li><p>{% trans "Has Channels" %}: {{ rock_cannon.metadata.has_channels }} </p></li>
              {% endif %}
              <li><p>
                {% if rock_cannon.metadata.is_on_private_land == True %}{% trans "This is on Private Land" %}
                {% elif rock_cannon.metadata.is_on_private_land == False %}{% trans "This is on Public Land" %}
                {% else %}{% trans "We don't know if this Cannon is on Public or Private Land" %}
                {% endif %}
              </p></li>
            </ul>
          </section>
        {% endif %}
        {% if rock_cannon.images.all %}
          <section class="Imgs-Section">
            <h2 class="Pos-Header">{% trans "Photos" %}</h2>
            <ul id="Imgs-Grid" class="Imgs-Grid">
              {% for image in rock_cannon.images.all %}
              <div class="Img-Wrapper"><img class="Img-Preview" src="{{ image.image.url }}" alt="{{ image.caption }}"></div>
              {% endfor %}
            </ul>
          </section>
        {% endif %}
      </div>
      {% if rock_cannon.position %}
        <div class="Map-Styles" id="map"></div>
      {% endif %}
    </div>
    {% if stories %}
      {% for story in stories %}
        <article>
          <h3 class="Pos-Header">{% trans "Stories" %}</h2>
          <p>{{ story.story_text }}</p>
        </article>
      {% endfor %}
    {% endif %}
  </main>
  {% endblock %}
  {% block afterFooter %}
  <div id="overlay" class="Img-Overlay">
    <button id="close" class="Close">✕</button>
    <img src="" class="Big-Img">
  </div>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.9.1/proj4.min.js"></script>
  <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
  <script src="{% static 'forms/js/OSMLeaflet2.js' %}"></script>
  {% endblock %}
