{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="icon" type="image/x-icon" href="{% static 'forms/icon/favicon.ico' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
  <link rel="stylesheet" href="{% static 'forms/css/style.css' %}">
</head>

<body>

<header>
  <div class="header-left">
    <a href="/" class="header-left">
  <img src="/media/rock_cannons/logonotext.png" class="header-logo">
  <h1 class="Title_Header">Rock Cannon</h1>
</a>
  </div>

  <nav class="Nav-Styles">
    <button class="Menu-Button-Header">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
        <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
      </svg>
    </button>
    <ul class="Menu-Listings">
      <li class="Menu-Item"><a href="/">Home</a></li>
      <li class="Menu-Item"><a href="/search/">Map</a></li>
      <li class="Menu-Item"><a href="/gallery">Gallery</a></li>
    </ul>
  </nav>
</header>

 
  <section class="home-hero">
    <div class="home-hero-overlay"></div>
    <div class="home-hero-content">
      <h1>Rock Cannons of Gwynedd</h1>
      <p>Discovering the unique tradition of celebration carved into the landscape of Gwynedd and Wales.</p>
    </div>
  </section>

  
  <main class="Home-Main">
    <div class="home-container">

      <div class="home-text">
        <h2>Rock Cannons</h2>

        <h3>All about Rock Cannons:</h3>
        <p>
          A rock cannon is a method of salutation and the celebration of important social, commercial and
          industrial events, whether they are of local or national interest, that dates back as far as the
          latter years of the 18th century. It was initially believed that this method of celebration was
          confined to the slate quarries and metal mines of Gwynedd, but research has now shown that sites
          exist in other parts of North Wales. As of 2001, 235 sites have been found adding up to 6,157 holes.
        </p>

        <h3>Fun facts about Rock Cannons:</h3>
        <p>
          The earliest record of cannon in Gwynedd is found in a contemporary newspaper report (1808),
          which gives lengthy details of the celebration in various areas of present Gwynedd of the 50th
          anniversary of George III's accession to the throne. It states, under the heading of JUBILEE
          that 'In no part of the British Empire has this event been celebrated with greater demonstrations
          of rejoicing, thankfulness, and all the more estimable virtues of charity and beneficence, than
          in this principality'. Rock cannons were used to celebrate the marriage of Albert Edward, Prince
          of Wales to Princess Alexandra of Denmark in 1863 as well as the Diamond Jubilee of Queen
          Victoria in 1897.
        </p>
      </div>

    </div>

    <!-- Video centred below -->
    <div class="home-video">
      <iframe width="560" height="315"
        src="https://www.youtube.com/embed/J3F2odr2MsQ?si=0MifsBVr6ggrR4QV"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </main>

  <!-- Three column footer -->
  <footer class="home-footer-info">
    <div class="home-footer-columns">

      <div class="home-footer-column">
        <h3>The Project</h3>
        <p>Made by The Java Drinkers</p>
        <p>Group 9</p>
      </div>

      <div class="home-footer-column home-logo-column">
        <img src="/media/rock_cannons/logotext.png" alt="Rock Cannon Logo"class="home-footer-logo" />
        <p><strong>Rock Cannon Database</strong></p>
      </div>

      <div class="home-footer-column">
        <h3>References</h3>
        <p><a href="https://en.wikipedia.org/wiki/Rock_cannon" target="_blank">Wikipedia — Rock Cannon</a></p>
        <p>Gwyn, D. (2006). <em>Gwynedd: Inheriting a Revolution.</em> Phillimore &amp; Co.</p>
      </div>

    </div>
  </footer>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.9.1/proj4.min.js"></script>
  <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
  <script src="{% static 'forms/js/OSMLeaflet2.js' %}"></script>

</body>
</html>