{% extends "forms/rock_cannon_header.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Gallery" %}{% endblock %}
{% block main %}
  <main class="Gallery-Main">

  <div class="gallery-item">
    <div class="gallery-text">
      <h2>{% trans "Parc Meurig Cannon, Bethesda" %}</h2>
      <p>
        {% trans "This 100-hole rock cannon tucked away in Parc Meurig is being reclaimed by nature, with its bored holes and carved-out interconnecting grooves almost all covered over by a layer of moss and grass." %}
      </p>
    </div>

    <div class="gallery-image">
      <img src="/media/rock_cannons/meurig.webp" alt="Parc Meurig Cannon">
    </div>
  </div>


  <div class="gallery-item">
    <div class="gallery-text">
      <h2>{% trans "Rock Cannon, Mynydd Llandegai" %}</h2>
      <p>
        {% trans "Rock cannon, looking east towards Penrhyn Quarry and the Carneddau." %}
      </p>
    </div>

    <div class="gallery-image">
      <img src="/media/rock_cannons/mynydd.jpg" alt="Mynydd Llandegai Cannon">
    </div>
  </div>

</main>
{% endblock %}
