<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ rock_cannon }}</title>
</head>

<body>

  <h1>{{ rock_cannon }}</h1>

  <!-- Names -->
  <section>
    <h2>Names</h2>
    <ul>
      {% for name in names %}
      <li>{{ name.name }} <em>({{ name.language }})</em></li>
      {% endfor %}
    </ul>
  </section>

  <!-- Position -->
  {% if rock_cannon.position %}
  <section>
    <h2>Location</h2>
    <ul>
      {% if rock_cannon.position.latitude %}
      <li>Latitude: {{ rock_cannon.position.latitude }}</li>
      <li>Longitude: {{ rock_cannon.position.longitude }}</li>
      {% endif %}
      {% if rock_cannon.position.os_grid %}
      <li>OS Grid: {{ rock_cannon.position.os_grid }}</li>
      {% endif %}
      {% if rock_cannon.position.os_easting %}
      <li>Easting: {{ rock_cannon.position.os_easting }}</li>
      <li>Northing: {{ rock_cannon.position.os_northing }}</li>
      {% endif %}
    </ul>
  </section>
  {% endif %}

  <!-- Metadata -->
  {% if rock_cannon.metadata %}
  <section>
    <h2>Details</h2>
    <ul>
      {% if rock_cannon.metadata.hole_count %}
      <li>Hole count: {{ rock_cannon.metadata.hole_count }}</li>
      {% endif %}
      <li>Private land: {{ rock_cannon.metadata.is_on_private_land|yesno:"Yes,No" }}</li>
    </ul>
  </section>
  {% endif %}

  <!-- Stories -->
  {% if stories %}
  <section>
    <h2>Stories</h2>
    {% for story in stories %}
    <article>
      <p><em>{{ story.language }}</em></p>
      <p>{{ story.story_text }}</p>
    </article>
    {% endfor %}
  </section>
  {% endif %}

</body>

</html>
