{% extends "forms/rock_cannon_header.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block main %}
<section class="home-hero">
  <div class="home-hero-overlay"></div>
  <div class="home-hero-content">
    <h1>{{ home_page.title }}</h1>
    <p>{{ home_page.intro_text }}</p>
  </div>
</section>

  
<main class="Home-Main">
  <div class="home-container">
    <div class="home-text">
      <h2>{{ home_page.content_title }}</h2>
      <h3>{{ home_page.content_subtitle_1 }}</h3>
      <p>{{ home_page.content_paragraph_1 }}</p>
      <h3>{{ home_page.content_subtitle_2 }}</h3>
      <p>{{ home_page.content_paragraph_2 }}</p>
    </div>
  </div>
  <div class="home-video">
    <iframe width="560" height="315"
      src="https://www.youtube.com/embed/J3F2odr2MsQ?si=0MifsBVr6ggrR4QV"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
  </div>

</main>
  {% if request.user.is_staff %}
    <div class="Extra-Section Admin-Edit Page-Edit">
      <a href="{% url 'admin:forms_homepage_change' home_page.pk %}">
        {% trans "Edit this Page" %}
      </a>
    </div>
  {% endif %}
{% endblock %}
