{% extends "forms/rock_cannon_header.html" %}
{% load i18n %}

{% block main %}
<main class="Login-Main">
  <div class="Login-Window">
    <form method="post" class="Login-Form">
      {% csrf_token %}
      <h2>{% trans "Login" %}</h2>
      <div class="Login-Prompt-Stack">
        <div class="Login-Prompt-Item">
          <div>{% trans "Username" %}</div>
          <div>{{ form.username }}</div>
        </div>
        <div class="Login-Prompt-Item">
          <div>{% trans "Password" %}</div>
          <div>{{ form.password }}</div>
        </div>
      </div>
      <button type="submit" class="Login-Button">{% trans "Login" %}</button>
      {% if form.errors %}
      <p>{% trans "Invalid username or password." %}</p>
      {% endif %}
    </form>
  </div>
</main>
{% endblock %}
